# Default ignored files
/../../../../PycharmProjects./Professional-Portfolio/1. Morse Code from Text Converter/.idea/shelf/
/../../../../PycharmProjects./Professional-Portfolio/1. Morse Code from Text Converter/.idea/workspace.xml
